body{
    margin: 0px auto;
}

nav *, section *, aside *, footer *{
    margin: 0px auto;
}
   
a:link, a:visited{
   color: white;
   font-weight:500;
   text-decoration: none; 
}

header div{
    float: left;
    padding-top: 3.2%;
    margin-left: 2%;
    margin-right: 2%;
}

header div h3{
    text-align: end;
}     

.boton {
    background-color: rgb(11, 83, 69);
    padding: 1%;
    border: 2px solid;
}

.boton:hover {
    background-color:royalblue;
}

nav ul{
    list-style: none;
    padding-left: 0px;
}  

nav li:hover{
    background-color:royalblue;
} 
   
aside *{
    color: white;
}  

aside h4{
    margin: 5%;
}

footer #piecito{
    width: 100%;
    text-align: center;
    background-color: rgb(11, 83, 69);
    float: left;    
}

footer p{
    padding-bottom: 1.8%;
    padding-top: 1.8%;
}

@media (max-width:480px){
    .modo2{
        display: none;
    }
      
    nav li{
        padding: 4%;
        padding-top: 4.9%;
        padding-bottom: 4.9%;
        float: left;
        font-size: smaller;
    } 
             
    aside div{
        padding: 2%;
        background-color: rgb(133, 114, 177);
        margin: 4%;
        width: 40%;
        font-size: small;
    }

    aside #sideLinks{
        float: right;
        margin-right: 2%;
        margin-left: 0px;
    }

    aside #sideMenu{
        float: left;
        margin-left: 2%;
        margin-right: 0px;
    }

    aside ul{
        padding-left: 12%;
    }        
       
    footer .secciones{
        float: left;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 4%;
        margin-bottom: 4%;
        width: 20%;
        font-size: small;
    }         
}

@media (min-width:480px) and (max-width:922px){
    .modo2{
        display: none;
    }
        
    nav li{
        padding: 3%;
        padding-top: 4.9%;
        padding-bottom: 4.9%;
        float: left;
        font-size: small;
    }
        
    aside div{
        padding: 4%;
        background-color: rgb(255, 87, 51);
        margin: 5%;
        margin-top: 40%;
        margin-bottom: 40%;
    }

    aside ul{
        display: none;
    }
        
    footer .secciones{
        float: left;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 3%;
        margin-bottom: 4.2%;
        width: 20%;
    }  
}

@media (min-width:922px){ 
    header img{
        float:left;
        margin-left: 2%;
        width: 19%;
    }

    header a{
        float:right;
    }

    nav li{
        padding-top: 5.9%;
        padding-bottom: 5.9%;
        padding-left: 5%;

    }
            
    aside div{
        padding: 8%;
        background-color: rgb(133, 114, 177);
        margin: 5%;
        margin-top: 40%;
        margin-bottom: 40%;
    }       
    
    footer img{
        float:left;
        margin-left: 3%;
        width: 10%;
        margin-top: 2.5%;
    }
        
    footer .secciones{
        float: left;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 4.2%;
        margin-bottom: 4.2%;
    }
        
    footer div ul {
        padding-left: 19%;
    }  
}
