nav #mnuCurriculum{
    background-color:royalblue;
}

section *{
    margin: 1.5%;
}

section div *{
    margin-left: 0px;
    
}

section div{
    margin-bottom: 4%;
    width: 97%;
}

section h3{
    color:rgb(87, 55, 163);
    font-style: italic;
}

section div sup, section div p, section div ul strong{
    margin-right: 0px;
    text-align: justify;
    
}

section table th{
    color:rgb(11, 83, 69);
    font-weight: bolder;
}

section div table{
    border:3px solid;
    margin-right: 0px;
    border-collapse: collapse; 
    width: 100%;   
}
section div table *{
    border:3px solid;
    margin-right: 0px;
    padding: 1%;
    text-align: center;
}

section ul{
    margin-right: 0%;
    padding-left: 3%;
}

.boton {
    background-color: rgb(11, 83, 69);
    padding: 0.5%;
    float: left;
    border: 2px solid;
    text-decoration: none;
    color:white;
}

.boton:hover {
    background-color:royalblue;
}