nav #mnuProyectos{
    background-color:royalblue;
}

section *{
    margin: 2%;
}

section{
    padding-right: 3%;
}

section h2{
    float: left;
}

section div{
    float: right;
    margin-right: 4%;
    text-align: center;
}

section h3{
    width: fit-content;
    padding-left: 31%;
    padding-right: 31%;
}

section a{
    padding: 20%;
    border: 1px solid;
    background-color: rgb(11, 83, 69) ;
}

section a:hover{
    background-color: royalblue;
}

section .btn{
    margin: 0px auto;
    margin-left: 45%;
    margin-right: 45% ;
    margin-top: 4%;
}