nav #mnuProyectos{
    background-color:royalblue;
}

section *{
    margin: 2%;
}

section h2{
    float: left;
}

section div{
    float: right;
    margin-right: 4%;
    text-align: center;
}

section h3{
    width: fit-content;
    padding-left: 31%;
    padding-right: 31%;
}

section a{
    padding: 3%;
    margin: 5%;
    border: 1px solid;
}